h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
    color: lightblue;
}

body {
    background-color: lightblue;
    text-align: center;
  }
  
main {
    margin-right: 1em;
    margin-left: 1em;
    padding: 2em;
    background-color: white;
  }

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

form {
   text-align: center;
}
hr{
    margin-top: 1em;
}

#rant{
    margin-left: 4em;
}

.rant-box{
    border:1px solid #ced4da;
    border-radius: .35em
}

.rant-post-box{
    padding-top: 2em;
}

.show-box {
    padding-bottom: 2em;
}

.comment-box{
    padding-bottom: 2em
}

.home-pic{
    width: 100%;
}